<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button" (click)="DisplayBank()">Bank</a>
  <a href="#" class="w3-bar-item w3-button" (click)="DisplayCafe()">Cafe</a>
  <a href="#" class="w3-bar-item w3-button" (click)="DisplayAtm()">Atm</a>
</div>
<!-- Page Content -->
<div style="margin-right:25%">
  <div class="w3-container w3-teal">
    <h1>I-link: Google api in angular4</h1>
  </div>
  <div id ="ggmap"></div>
  <div class="w3-container">
    <h2>Right Sidebar</h2>
    <p>In this example, we have added <strong>right:0</strong> to the w3-sidebar.</p>
</div>

