<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button" (click)="DisplayBank()">Bank</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<!-- Page Content -->
<div style="margin-right:25%">

  <div class="w3-container w3-teal">
    <h1>I-link: Google api in angular4</h1>
  </div>
  
  <div id ="ggmap" style="width:500px; height:500px"></div>

  
  <div class="w3-container">
    <h2>Right Sidebar</h2>
    <p>In this example, we have added <strong>right:0</strong> to the w3-sidebar.</p>

</div>


<button id = "btn"  (click)="initNativeJsGoogleMap()">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVTiu-6D-olOCESaB5H4D4wI2gA_L3Y5k&callback=initNativeJsGoogleMap"
async defer></script>